#bloc_page {
    max-width: 1400px;
}

.smart, .smart .etoile, .smart .heber {
    display: none;
}

header {
    padding-top: 20px;
}

header img {
    max-width: 90px;
    max-height: 45px;
}

nav, ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.link {
    padding-left: 50px;
    padding-right: 50px;
    
}

.inscription {
    margin-left: 50px;
    margin-right: 10px;
}

#accroche h1 {
    font-size: 19px;
    margin-bottom: 0;
}

#accroche p { 
    font-size: 14px;
    margin-top: 10px;
}

#recherche {
	height: 50px;
	max-width: 365px;
    margin-bottom: 30px;
}

#recherche i, .bouton, .search {
    font-size: 16px;
}

#recherche i {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
    flex: 1;
}

#recherche span {
    display: none;
}

.bouton {
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	flex: 2;
    padding: 15px;
}

.search {
    width: 180px;
    padding: 10px;
}

#filtres {
    align-items: center;
}

.fil {
	border-radius: 40px;
	font-size: 19px;
    height: 50px;
    margin-right: 25px;
}

.fil p {
    padding-right: 20px;
    padding-left: 10px;
    
}

.fil span {
	border-radius: 100%;
	width: 50px;
	height: 50px;
}

#filtres h2 {
    font-size: 16px;
    margin-right: 15px;
}

#indic
{
    margin-top: 20px;
    margin-bottom: 15px;
    align-items: center;
}

#indic i {
	font-size: 14px;
	border-radius: 100%;
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

#indic p {
    font-size: 15px;
}

#section_hebergement {
    margin: auto;
}

#hebergement, #populaire {
    margin: auto;
    border-radius: 25px;
    padding: 40px;
    padding-top: 15px;
    padding-bottom: 50px;
    height: 550px;
}

#hebergement {
    margin-right: 40px;
    background-color: #F2F2F2;
}

#hebergement h2, #pop_icone h2, #banniere_act h1 {
    font-size: 21px;
}

#hotel {
    justify-content: space-between;
    flex-flow: row wrap;
  
}

.heber, .pop {
    margin-bottom: 30px;
    padding: 4px;
}

.heber {
    height: 188px;
}

#hotel img {
    max-width: 248px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.heber h3, .heber p, .etoile {
    margin-left: 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.heber h3 {
    font-size: 15.5px;
}

.heber p {
    font-size: 14px;
}

.heber i {
    font-size: 12px;
    margin-top: 1px;
}

.heber .etoile {
    margin-left: 10px;
}

.afficher {
    font-size: 20px;
    margin-left: 5px;
}

#populaire {
    width: 680px;   
}

#pop_icone {
    font-size: 18px;
}

.pop {
    height: 135px;
    padding-right: 50px;
}

.pop h3, .pop p {
    margin-left: 20px;
}

.pop img {
	width: 120px;
	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;
}

.pop h3 {
    font-size: 18px;
    margin-bottom: 5px;
}

.pop p {
    margin-top: 4px;
    margin-bottom: 30px;
    font-size: 14px;
}

.pop i {
    font-size: 12px;
}

.pop .etoile {
    margin-left: 20px;
}

#banniere_act {
    margin:auto;
    margin-bottom: 40px;
}

#banniere_act h1 {
    margin-top: 50px;
}

#activite {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: space-between;
    height: 430px;
}

#activite img {
    width: 320px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#activite h3 {
    margin-top: 15px;
    margin-left: 20px;
    font-size: 15px;
}

.act, .act2, .act3, .act4, .act5 {
    width: 320px;
}

.act img {
    height: 380px;
}

.act2 img {
    height: 175px;
}

.act3 img {
    height: 110px;
}

.act4 img {
    height: 140px;
}

.act5 img {
    height: 145px;
}

#bas_de_page {
    padding: 45px;
    height: 120px;
}

.propos h2{
    font-size: 16px;
}

.propos p {
    font-size: 14px;
}
