#bloc_page {
    max-width: 100%;
    margin-top: 20px;
}

.desk {
    display: none;
}

header {
    margin-bottom: 10px;
}

header img {
    max-width: 30%;
    margin-left: 5px;
}

#menu_smart{
    list-style-type: none;
    display: flex;
}

.link_smart, .inscription {
    font-size: 25px;
}

.link_smart {
    width: 50%;
    height: 75px;  
    border-bottom: 4px solid #F2F2F2;
}

.link_smart p {
    display: flex;
    justify-content: center;
}


#accroche h1 {
    
    font-size: 36px;
    margin-bottom: 0px;
    margin-top: 35px;
}

#accroche p {
    font-size: 26px;
}

#recherche {
    max-width: 100%;
    height: 90px;
    margin-top: 50px;
    margin-bottom: 35px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 30px;
}

#recherche i, .bouton, .search, #recherche span {
    font-size: 28px;
}

#recherche i {
	border-top-left-radius: 30px;
	border-bottom-left-radius: 30px;
}

#recherche i, #recherche span {
    min-width: 90px;
}

.bouton {
    display: none;
}

#recherche span {
	border-radius: 30px;
}

.search {
    border: none;
    padding: 15px;
    flex-grow: 2;
    min-width: 20%;
}

#filtres {
    flex-direction: column;
    align-items: flex-start;
}

#container_fil {
    flex-wrap: wrap;
    justify-content: flex-start;
}

.fil { 
    border-radius: 50px;
	font-size: 25px;
    height: 85px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.fil p {
    padding-right: 25px;
    padding-left: 15px;
}

.fil span {
	border-radius: 100%;
    width: 90px;
    height: 90px;
}

#filtres h2, .fil span {
    font-size: 28px;
}

#indic
{
    margin-top: 20px;
    margin-bottom: 20px;
    align-items: baseline;
}

#indic i {
    font-size: 22px;
	border-radius: 100%;
    padding: 10px 17px;
	margin-right: 15px;
}

#indic p {
    font-size: 25px;
}

#section_hebergement {
    flex-direction: column;
}

#populaire, #hebergement, #activite_smart {
    padding: 30px;
    padding-top: 20px;
    padding-bottom: 45px;
}

#hebergement {

    order: 2;
}

#hebergement h2, #pop_icone h2, #banniere_act h1 {
    font-size: 32px;
}

.heber, .pop {
    margin-bottom: 40px;
    padding: 6px;
}

#hotel_smart img {
    width: 100%;
    min-height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#hotel_smart h3, #hotel_smart p, .etoile {
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 0px;
}

#hotel_smart h3 {
    font-size: 22px;
}

#hotel_smart p {
    font-size: 19px;
}

#hotel_smart i {
    font-size: 18px;
    margin-top: 3px;
    margin-bottom: 5px;
}

.afficher {
    font-size: 25px;
}                                                            

#populaire {
    max-width: 100%;
}

#pop_icone {
    font-size: 29px;
    margin-bottom: 10px;
}

.pop {
    min-height: 170px;
    max-height: 260px;
    padding-right: 20px;
}

.pop h3, .pop p, .pop .etoile {
    margin-left: 20px;
}

.pop img {
    width: 42%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.pop h3 {
    font-size: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pop p {
    margin-top: 4px;
    font-size: 20px;
}

.pop i {
    font-size: 19px;
    margin-bottom: 5px;
}

.pop .etoile {
    margin-top: 70px;
    margin-bottom: 5px;
}
#banniere_act {
    margin-bottom: 20px;
}

#banniere_act h1 {
    margin-left: 30px;
}

#activite_smart, .act {
    display: flex;
    flex-direction: column;
}


.act img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.act h3 {
    font-size: 25px;
    padding-left: 25px;

}

.act {
    margin-bottom: 30px;
}

#bas_de_page {
    padding: 40px;
    margin-top: 5px;
}

.footer_align {
    flex-direction: column;
}
.propos {
    margin-bottom: 20px;
}
.propos h2{
    font-size: 26px;
}

.propos p {
    font-size: 24px;
}
                                                